table {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 12px;
  text-align: center;
  background-color: black;
  color: #fff;
  border: 50px white;
}

.elder {
  padding: 12px;
  text-align: center;
  background-color: #5c068c;
  color: #fff;
  border: 50px white;
  font-family: Bold;
}

.stx {
  padding: 12px;
  text-align: center;
  background-color: royalblue;
  color: white;
  border: 20px white;
  font-family: Bold;
}

.lasalle {
  padding: 12px;
  text-align: center;
  background-color: red;
  color: black;
  border: 20px white;
  font-family: Impact;
}

.moe {
  padding: 12px;
  text-align: center;
  background-color: navy;
  color: gold;
  border: 20px white;
  font-family: Impact;
}

.eraseSouthRankings {
  padding: 12px;
  text-align: center;
  background-color: white;
  color: black;
  border: 20px white;
}

.badin {
  padding: 12px;
  text-align: center;
  background-color: darkgreen;
  color: #fff;
  border: 50px white;
}

.mcnick {
  padding: 12px;
  text-align: center;
  background-color: black;
  color: darkgreen;
  border: 20px white;
}

.alter {
  padding: 12px;
  text-align: center;
  background-color: #654321;
  color: gold;
  border: 20px white;
}

.fenwick {
  padding: 12px;
  text-align: center;
  background-color: goldenrod;
  color: red;
  border: 20px white;
}

.chaminade {
  padding: 12px;
  text-align: center;
  background-color: green;
  color: blue;
  border: 20px white;
}

.carroll {
  padding: 12px;
  text-align: center;
  background-color: red;
  color: navy;
  border: 20px white;
}

.eraseNorthRankings {
  padding: 12px;
  text-align: center;
  background-color: white;
  color: black;
  border: 20px white;
}

.chca {
  padding: 12px;
  text-align: center;
  background-color: #2d0244;
  color: #fff;
  border: 50px white;
  font-family: Bold;
}

.summit {
  padding: 12px;
  text-align: center;
  background-color: rgb(0, 0, 53);
  color: silver;
  border: 20px white;
  font-family: Bold;
}

.purcell {
  padding: 12px;
  text-align: center;
  background-color: red;
  color: gold;
  border: 20px white;
  font-family: Bold;
}

.rb {
  padding: 12px;
  text-align: center;
  background-color: #31200f;
  color: white;
  border: 20px white;
  font-family: Bold;
}

.eraseSouthRankings {
  padding: 12px;
  text-align: center;
  background-color: white;
  color: black;
  border: 20px white;
}
